{% extends "base.html" %}

{% block title %}Главная{% end %}

{% block content %}
     <h1>Добро пожаловать. Снова.</h1> 
	<p style="text-align: right"><em>I don’t want to go on the cart.</em></p> 
	<p lang="ja"><a href="rules-j.html">最初にお読みください</a></p> 
	<p>Два.ч&nbsp;&#151; это система форумов, где можно общаться быстро и&nbsp;свободно, где любая точка зрения имеет право на&nbsp;жизнь. Здесь нет регистрации и&nbsp;подписываться не&nbsp;нужно, хотя это не&nbsp;избавляет вас от&nbsp;необходимости соблюдать правила. Все форумы (кроме <a href="/b/">/Б/реда</a>), а&nbsp;их&nbsp;список находится слева, имеют собственную чётко ограниченную тематику. Словом, всё, что не&nbsp;запрещено правилами отдельно взятого форума и&nbsp;относится к&nbsp;его тематике, на&nbsp;этом форуме разрешено.</p> 
	<p>
{% end %}